body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.border {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Grey transparency */
    color: #fff;
    padding: 10px 0;
    height: 50px; /* Adjust the height as needed */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s; /* Smooth transition */
}

footer.show {
    opacity: 1; /* Show footer */
}